/* -------------------------------------------STYLES.CSS------------------------------------------- */

html {
  font-size: 62.5%;
}

body {
  background-color: #a9a9a9;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
}

header {
  margin-left: 2rem;
  margin-right: 2rem;
}

main {
  margin: 2rem auto;
}

footer {
  font-size: 1.5rem;
  text-align: center;
  background-color: #464646;
  color: #ffffff;
  padding: 2rem;
  margin-top: auto;
}

h1 {
  display: inline-block;
  font-size: 4rem;
}

h1.spread {
  transition: letter-spacing 1s ease;
  letter-spacing: 0;
}

h1.spread:hover {
  letter-spacing: 0.1em;
}

#toggle,
#stopwatchButton,
#timerButton {
  width: 12rem;
  height: 3rem;
  border-radius: 3rem;
  font-size: 1.5rem;
}

/*Time display for regular mode*/
#timeDisplay {
  font-size: 15vw;
  font-weight: bold;
  margin-bottom: 2rem;
}

#startButton,
#resetButton,
#lapButton,
#goButton,
#clearButton {
  height: 6rem;
  width: 30rem;
  margin: 1rem;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#lapDiv {
  display: none; /* Hidden by default */
  font-size: x-large;
  width: 30rem;
  max-width: 80rem;
  margin: auto;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3rem;
  outline: 0.1rem solid #ffffff;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navContainer {
  display: flex;
  gap: 1rem;
}

.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
  flex-wrap: wrap;
}

/* Default background */
body.default-mode {
  background-color: #f0f0f0;
  color: #333;
}


/* -------------------------------------------UNICORN STYLES------------------------------------------- */

/*Unicorn Mode header font*/
body.unicorn-mode h1.spread {
  background: linear-gradient(45deg, #ff99a5, #ffd280, #ffff99, #a4f5b3, #99b3ff); 
  -webkit-background-clip: text; 
  color: transparent; 
  font-size: 4rem;
  font-weight: bold;
  transition: letter-spacing 1s ease;
  letter-spacing: 0;
  -webkit-text-stroke: 1px white;
}

/* Unicorn mode background */
body.unicorn-mode.bg-secondary {
  background-color: #ff99ff;
  background-image: url("../Assets/fantasy-unicorn-with-digital-art-style.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
}

/*Unicorn mode body*/
body.unicorn-mode {
  cursor: url("../Assets/cursor.png") 50 50, auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

body.unicorn-mode button:hover {
  cursor: url("../Assets/star.png") 15 15, auto !important;
}

body.unicorn-mode #timeDisplay {
  font-size: 15vw;
  font-weight: bold;
  margin-bottom: 2rem;
  background: linear-gradient(45deg, #ff99a5, #ffd280, #ffff99, #a4f5b3, #99b3ff); 
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-stroke: 2px white;
  color: transparent;  
  
}

body.unicorn-mode footer {
  background: linear-gradient(45deg, #ff99a5, #ffd280, #ffff99, #a4f5b3, #99b3ff); 
  color: black;
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
  margin-top: auto;
}

/*Unicorn Mode Buttons*/
body.unicorn-mode #toggle {
  background-color: #ffb3ba;
  background: linear-gradient(45deg, #ffb3ba, #ff66b2); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body.unicorn-mode #stopwatchButton {
  background-color: #b3e0ff; 
  background: linear-gradient(45deg, #b3e0ff, #80c7ff); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body.unicorn-mode #timerButton {
  background-color: #c4e17f; 
  background: linear-gradient(45deg, #c4e17f, #a0d55e); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body.unicorn-mode #startButton {
  background-color: #f3c5f3; 
  background: linear-gradient(45deg, #f3c5f3, #e0a9e0); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body.unicorn-mode #resetButton {
  background-color: #ffecb3; 
  background: linear-gradient(45deg, #ffecb3, #fff066); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body.unicorn-mode #lapButton {
  background-color: #d9ffb3; 
  background: linear-gradient(45deg, #d9ffb3, #a8e6cf); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hover effects for the Unicorn Mode Buttons*/
body.unicorn-mode #toggle:hover,
body.unicorn-mode #stopwatchButton:hover,
body.unicorn-mode #timerButton:hover,
body.unicorn-mode #startButton:hover,
body.unicorn-mode #resetButton:hover,
body.unicorn-mode #lapButton:hover {
  transform: scale(1.05); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  cursor: pointer; 
}






/* -------------------------------------------UNICORN MODAL STYLES------------------------------------------- */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.modal-content {
  background-color: #ff99ff; /* Pink background */
  color: #ffffff;
  padding: 4rem; /* Adjusted padding */
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  width: 90%;
  max-width: 70rem;
  height: 85%;
  display: flex;
  flex-direction: column; /* Allows stacking text and animation */
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent rainbow from spilling outside */
}

.modal-header {
  font-size: 3rem; /* Increased text size */
  margin-bottom: -70vh; /* Adds space between the text and the rainbow */
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 3rem;
  font-size: 4rem;
  cursor: pointer;
}

/* Rainbow animation taken from codepen. See README.md*/
.container {
  height: 34em;
  width: 34em;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.6em;
  box-shadow: 0 1.5em 3.5em rgba(32, 47, 80, 0.2);
}

.container:after {
  content: "";
  position: absolute;
  height: 50.5%;
  width: 100%;

  bottom: 0;
  border-radius: 0 0 0.6em 0.6em;
}

.rainbow-color {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  animation: spin 5s infinite;
  transform-origin: 50% 0;
}

@keyframes spin {
  30% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  55% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  85% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.rainbow-color-1 {
  height: 11.25em;
  width: 22.5em;
  border: 1.25em solid #fd004c;
  border-top: none;
  top: calc(50% + 5.62em);
  border-radius: 0 0 11.25em 11.25em;
  animation-delay: 0.8s;
}

.rainbow-color-2 {
  height: 10em;
  width: 20em;
  border: 1.25em solid #fe9000;
  border-top: none;
  top: calc(50% + 5em);
  border-radius: 0 0 10em 10em;
  animation-delay: 0.6s;
}

.rainbow-color-3 {
  height: 8.75em;
  width: 17.5em;
  border: 1.25em solid #fff020;
  border-top: none;
  top: calc(50% + 4.37em);
  border-radius: 0 0 8.75em 8.75em;
  animation-delay: 0.4s;
}

.rainbow-color-4 {
  height: 7.5em;
  width: 15em;
  border: 1.25em solid #3edf4b;
  border-top: none;
  top: calc(50% + 3.75em);
  border-radius: 0 0 7.5em 7.5em;
  animation-delay: 0.2s;
}

.rainbow-color-5 {
  height: 6.25em;
  width: 12.5em;
  border: 1.25em solid #3363ff;
  border-top: none;
  top: calc(50% + 3.12em);
  border-radius: 0 0 6.25em 6.25em;
}

@media (max-width: 768px) {
  .headerContainer {
    justify-content: center;
  }
}



