body {
  background-color: #a9a9a9;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  width: 100%;

  position: relative;
  bottom: 0;
  left: 0;
}

#toggle {
  width: 7rem;
  height: 2rem;
  border-radius: 3rem;
}

#timer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timeDisplay {
  font-size: 15rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* button {
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  background-color: white;
  color: black;
  border-radius: 5px;
} */

.headerFlexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

.btn {
  height: 5rem;
  width: 20rem;
  margin: 1rem;
}
